.leftSideBarWrapper {
  box-shadow: grey 0 5px 5px;
  background: rgb(93, 138, 168);
  padding: 30px;
  min-width: 139px;
  height: 100%;
  .leftSideBarWrapperFixed {
    position: fixed;
  }
  .links {
    display: flex;
    flex-direction: column;
    .link {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .link:not(:first-child) {
      margin-top: 30px;
    }
  }
}