.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 25px 25px 25px;
  height: 100%;
}
.checkBoxWrapper {
  display: grid;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  .checkBox {
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
  }
}

.form {
  overflow: auto;
  max-height: 400px;
}
