.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 25px 25px 25px;
  height: fit-content;
  max-height: 800px;
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #5d8aa8;
  border-radius: 27px;
}
.wrapper::-webkit-scrollbar-track {
  margin-top: 3px;
  margin-bottom: 3px;
}
.checkBoxWrapper {
  display: grid;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  overflow-x: hidden;
  .checkBox {
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
  }
}

.form::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.form::-webkit-scrollbar-thumb {
  background: #5d8aa8;
  border-radius: 27px;
}
.form::-webkit-scrollbar-track {
  margin-top: 3px;
  margin-bottom: 3px;
}
.form {
  overflow: auto;
  max-height: 400px;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.carName {
  margin-right: 10px;
}