.stationContainer {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 10px;
  width: 100%;
  margin-left: 20px;
  .stationInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    .stationInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo {
        width: 100px;
        height: 100px;
      }
      .nameStation {
        font-size: 25px;
        margin-top: 15px;
        font-weight: bold;
      }
    }
    .detailsInfo {
      overflow-y: auto;
      padding: 0 20px 20px 20px;
      border: 2px solid grey;
      border-radius: 20px;
      position: relative;
      max-height: 600px;
      .detailsScroll {
        height: 100%;
      }
      .detailsInfoHeader {
        padding-top: 20px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: sticky;
        z-index: 3;
        top: 0;
        padding-bottom: 10px;
        border-bottom: 2px solid grey;
      }
      .autoBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
      }
      .detailInfo {
        margin-top: 10px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .detailName {
          margin-right: 10px;
          font-size: 18px;
          font-weight: bold;
        }
        .detailCount {
          font-size: 14px;
        }
      }
    }
  }

  .autosInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    .autosWaiting {
      border: 2px solid grey;
      border-radius: 20px;
    }
    .autoOnStantion {
      border: 2px solid grey;
      border-radius: 20px;
    }
  }
}

.modalContent {
  padding-top: 10px;
}
