.headerWrapper {
  height: 60px;
  background: rgb(93, 138, 168);
  box-shadow: grey 0 5px 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  .headerTitleImg {
    width:70px;
    height: 70px;
  }
}