.label {
  position: relative;
  padding-left: 25px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #172126;
  cursor: pointer;

  .input:checked + .span {
    border: 1px solid #303030;
    background: forestgreen;

    &::after {
      width: 9px;
      height: 6px;
      left: 3px;
      top: 3px;
      content: '';
      position: absolute;
      transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
      border: solid 2px rgb(255, 255, 255);
      transform: translate(2px, 3px) rotate(-45deg);
      border-right: none;
      border-top: none;
    }
  }

  .input {
    position: absolute;
    display : none;
  }
}

.span {
  position: absolute;
  margin-left: -25px;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #303030;
  border-radius: 30%;
}

.checkBoxDisabled {
  cursor: not-allowed;
}
